@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import url("./components/whatssap.css");
@import url("./components/navbar.css");
@import url("./components/home.css");
@import url("./components/services.css");
@import url("./components/projects.css");
@import url("./components/skills.css");
@import url("./components/about-me.css");
@import url("./components/contact.css");
@import url("./components/footer.css");
@import url("./components/mozilla.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;

}

:root {
  --primary-color: #24243e;
  --secondary-color: #302b63;
  --tertiary-color: #0f0c29;
  --text-color: #fff;
}

.box {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

h2 {
  position: relative; /* z-index only works on positioned elements */
  z-index: 2; /* or any value higher than the one for .navbar */
}
